{% extends "SiteLotoBundle::layout.html.twig" %}

{% block content %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <nav class="top-nav">
                    <ul class="pull-left">
                        <li> <button class="btn btn-primary">Назад</button> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="game-zone">
        <div class="game-header">
                <div class="container">
                        <div class="row">

                                <div class="col col-md-2">
                                        <div class="users-bar pull-left">

                                                <div class="user user-iam pull-left">
                                                        <div class="user-avatar">
                                                                <img src="/assets/img/user-iam.jpg" alt="">
                                                        </div>
                                                        <br>
                                                        <span class="username"> YanuK </span>
                                                </div>

                                        </div>
                                </div>

                                <div class="col col-md-10">
                                        <table class="user-add-coin">
                                                <tr>
                                                        <td>960</td>
                                                        <td>Монет</td>
                                                        <td><button class="btn btn-success"> купить </button></td>
                                                </tr>
                                        </table>

                                        <table class="user-add-coin">
                                                <tr>
                                                        <td><button class="btn btn-success"> <span class="glyphicon glyphicon-volume-up"></span> </button></td>
                                                        <td><button class="btn btn-success"> ? </button></td>
                                                        <td><button class="btn btn-success"> <span class="glyphicon glyphicon-tags"></span> </button></td>
                                                        <td><button class="btn btn-success"> <span class="glyphicon glyphicon-cog"></span> </button></td>
                                                </tr>
                                        </table>

                                        <button class="btn btn-success">Начать игру</button>
                                                                <br>
                                        <a href="#">Написать Сообщение Разработчикам</a>


                                </div>


                        </div>
                </div>



        </div>
        <div class="container">
            <div class="row">
                {% if news%}
                    {% for article in news %}
                        <div class="col col-md-12">
                            <h1>{{ article.title }}</h1>
                            {{ article.content }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

</div>
{% endblock %}